/* Project page style */

/* Color Scheme */
a {
  color: #53B9EC;
}

h3 {
  color: #59616E;
}

td {
  color: #59616E;
}

th {
  color: #59616E;
}

p {
  color: #59616E;
}

/* Padding */
#project-page-wrapper {
  padding: 20px;
}

#project-page {
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: white;
}

/* Table */
.hidden{
  display: none;
}

.number-col{
  text-align: center;
}

.status-complete {
  color: #70CB94;
}

.status-rejected {
  color: #F55151;
}

.status-ongoing {
  color: #FCD148;
}

.status-inqueue {
  color: #59616E;
}

.information {
  float: right;
}

.status-icon {
  width: 18px;
  height: 15px;
  cursor: pointer;
}

/* Bottom Grid */
.grid-container {
  margin-top: 20px;
  display: grid;
  grid: auto / 33% 33% 31%;
  grid-gap: 15px;
}

.grid-container h5 {
  color: #59616E;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  padding:24px;
}

.grid-title {
  margin-bottom: 15px;
}

.more-button{
  width: 100px;
  height: 50px;
  float: right;
  cursor: pointer;
}

.more-button-center{
  width: 100px;
  height: 50px;
  float: center;
  cursor: pointer;
}

.link-button{
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  /* cursor: pointer; */
}