/* Team page style */
/* Project Card */
#team-page {
  padding: 21px 34px;
}

#team-page #project-and-member-card{
  height: 250px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 30px;
}

#team-page #project-card{
  padding-right: 30px;
}

#team-page #project-card .card-title .title {
  text-align: left;
  font-size: 24px;
}

#team-page #project-card .card-title #project-select-input {
  color: #53B9EC;
}

#team-page #project-card .card-title #project-select-input option {
  color: initial;
}

/* Member Card */
#team-page #member-card {
  background-color: #f5f7fa;
  border-radius: 10px;
  padding: 20px 30px;
  overflow: hidden;
}

#team-page #member-card .card-title {
  margin-bottom: 0;
}

#team-page #member-card .card-title .title {
  text-align: left;
  font-size: 20px;
}

#team-page #member-card #member-table {
  height: 80%;
}

#team-page #member-card #member-table th,
#team-page #member-card #member-table td {
  padding: 3px;
}

/* Best Talent Card */
#team-page #best-talent-card {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
}

#team-page #best-talent-card .card-title {
  margin-bottom: 0;
}

#team-page #best-talent-card .card-title .title {
  text-align: left;
  font-size: 20px;
}

#team-page #best-talent-card #best-talent-table th,
#team-page #best-talent-card #best-talent-table td {
  padding: 3px;
}

#team-page #best-talent-card #best-talent-table td.talent-name {
  color: #71C5EF;
}

/* Talent Modal */
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.talent-modal {
  color: #59616E;
}

.talent-modal .modal-body {
  padding: 0;
}

.talent-modal #profile-pic {
  background-image: url("../../assets/profile.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}

.talent-modal #info {
  padding: 18px 28px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.talent-modal #printed-info {
  font-size: 22px;
  line-height: 1.2;
}

.talent-modal #star {
  font-size: 35px;
}

.talent-modal #work-intensity {
  padding: 0 20px;
}

.talent-modal #work-intensity .title {
  font-size: 22px;
}

.talent-modal #work-intensity .graph-plot {
  display: flex;
}

.talent-modal #work-intensity .graph-plot .legend {
  font-size: 10pt;
  display: flex;
  align-items: center;
  line-height: 2;
  font-weight: bold;
}

.talent-modal #work-intensity .graph-plot ul {
  padding-left: 0;
}

.talent-modal #work-intensity .graph-plot ul li {
  list-style: none; 
}

.talent-modal #work-intensity .graph-plot ul li::before {
  content: "\25A0"; 
  font-size: 1em; 
  padding-right: 0.5em; 
  position: relative;
  top: 0em; 
}

.talent-modal #work-intensity .graph-plot ul li.point-burn {
  color: #45BFB7;
}
.talent-modal #work-intensity .graph-plot ul li.point-remain {
  color: #066493;
}
.talent-modal #work-intensity .graph-plot ul li.point-queue {
  color: #4E4DD1;
}

.talent-modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.talent-modal .modal-footer #total-point {
  font-size: 18pt;
}

.talent-modal .modal-footer #back-button {
  background-color: #71C5EF;
  border: 0;
}

/* Helper */
.text-center {
  text-align: center;
}

/* Table Style */
#team-page table, #team-page thead, #team-page tr, #team-page th, #team-page tbody, #team-page td {
  border: 1px solid !important;
  border-color: #E4E8F0 !important;
  background-color: #ffffff;
}